@font-face {
  font-family: "Basier Circle";
  src: local("BasierCircleRegular.otf"),
    url("./Fonts/BasierCircleRegular.otf") format("opentype");
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar{
  font-family: "Basier Circle";
  font-size: 14px;
  color: #374064;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.noocoLogo{
width: 80px;
padding-left: 40px;
}


.contentFrame {
  margin: 50px;
  width: 80%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.chartTitle{
  font-family: "Basier Circle";
  font-size: 24px;
  color: #3f00d0;
}

.articlesViewedChart {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.timeSpentChart {
  margin: 50px;
 text-align: center;
}

.articlesPurchasedStackedBar {
  margin: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentagePurchased {
  margin: 50px;
  text-align: center;

}
